body{
  background-color:rgb(20, 34, 34);
  color:white;
  overflow: hidden;
}
h1{
  text-align: center;
}
 .todo-main{
    background: rgb(53, 45, 45);
    padding:3%;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    max-height: 80vh;
    overflow-y:auto; /*  show verticall scroller after max-height  */
    box-shadow: 0px 5px 7px rgb(27,27,27);
 }
.todo-input{
  display:flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  border-bottom: 2px solid rgb(77,77,77);
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.todo-in-item{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
 
}
.todo-in-item label{
  font-weight: bold;
  margin-bottom: 10px;
}
.todo-in-item input{
padding:10px;
border:none;
width:250px;

}

.btnadd{
  width:80px;
  cursor:pointer;
  padding:10px;
  margin-top: 35px;
  border-radius: 0px;
}
.btnadd:hover{
  background-color: rgb(4,196,106);
}
.todo-list{
  display: flex;
  flex-direction: column;
}
 .list-items{
 display:flex;
background-color: #414040;
padding:25px;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: 10px;
box-shadow: 0px 2px 4px rgb(39, 38, 38);
justify-content: space-between;
align-items: center;
 }

 .list-items p{
  margin-top:6px;
  font-size: 14px;
  color: rgb(179, 178, 178);

 }

 .list-items h2{
  font-size: 25px;
  color: rgb(25, 186, 111);
font-weight: bold;
margin:0px
 }

 .dlt-btn{
  font-size: 35px;
  cursor: pointer;
  
}

.dlt-btn:hover{
  color: red;

}
.check-btn{
  font-size: 22px;
  cursor: pointer;
  color: rgb(0, 230, 122);
  margin-bottom: 5px;
  margin-right:10px;
}

.check-btn:hover{
  color: rgb(4, 192, 104);
}